/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/*-------------
    Variables
---------------*/
:root {
    /* Colors */
    --prim-dk-cyan: hsl(158, 36%, 37%);
    --prim-cream: hsl(30, 38%, 92%);
    --neu-dk-blue: hsl(212, 21%, 14%);
    --neu-gy-blue: hsl(228, 12%, 48%);
    --neu-white: hsl(0, 0%, 100%);

    /* Fonts */
    --ff-title: 'Fraunces', serif;
    --ff-txt: 'Montserrat', sans-serif;
}

/* -------------------- 
    General Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-txt);
    font-size: 14px;
}
h1 {
    font-family: var(--ff-title);
}

/* -------------------- 
    Specific Styles
---------------------*/

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {

}

/*----------------------------------------------------------------------------
    Sm Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {

}
/*----------------------------------------------------------------------------
    lg Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}

/*----------------------------------------------------------------------------
    lg Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}