/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/*-------------
    Variables
---------------*/
:root {
    /* Colors */
    --prim-dk-cyan: hsl(158, 36%, 37%);
    --prim-cream: hsl(30, 38%, 92%);
    --neu-dk-blue: hsl(212, 21%, 14%);
    --neu-gy-blue: hsl(228, 12%, 48%);
    --neu-white: hsl(0, 0%, 100%);

    /* Fonts */
    --ff-title: 'Fraunces', serif;
    --ff-txt: 'Montserrat', sans-serif;
}

/* -------------------- 
    General Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-txt);
    font-size: 14px;
    color: var(--neu-gy-blue);
    background-color: var(--prim-cream);
}
main {
    height: 650px;
    display: flex;
    flex-direction: column;
    background-color: var(--neu-white);
    margin: 2rem 1rem;
    border-radius: 1rem;
}
h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
h1 {
    font-family: var(--ff-title);
    font-size: 32px;
    margin-bottom: 0.5rem;
    color: var(--neu-dk-blue);
}
p {
    line-height: 1.5;
}
button {
    height: 50px;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--neu-white);
    background-color: var(--prim-dk-cyan);
    border-radius: 0.5rem;
}
button img {
    margin-right: 0.5rem;
}
button:hover {
    background-color: rgb(26,  64, 50);
    cursor: pointer;
}
footer {
    margin: 0 1rem;
    text-align: center;
}
footer a {
    color: var(--prim-dk-cyan);
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
footer a:hover {
    color: rgb(26,  64, 50);
}

/* -------------------- 
    Specific Styles
---------------------*/
.container {
    margin: 1.25rem;
}
.card-img {
    height: 35%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background: no-repeat center/cover url("images/image-product-mobile.jpg");
}
.card-txt {
    margin-bottom: 1rem;
}

/* Card Price div */
.card-price {
    margin-bottom: 1rem;
}
.sale {
    font-size: 32px;
    font-family: var(--ff-title);
    color: var(--prim-dk-cyan);
    margin-right: 1rem;
}
.reg {
    text-decoration: line-through;
}

/*----------------------------------------------------------------------------
    Lg Mobile Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 375px) {
    /* -------------------- 
        General Styles
    ---------------------*/
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }
    main {
        height: 650px;
        width: 340px;
    }
    /* -------------------- 
        Specific Styles
    ---------------------*/
    .card-img {
        height: 45%;
        background: no-repeat center/cover url("images/image-product-mobile.jpg");
    }
}

/*----------------------------------------------------------------------------
    Sm Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {
    /* -------------------- 
        General Styles
    ---------------------*/
    main {
        width: 532px;
        height: 400px;
        flex-direction: row;
    }

    /* -------------------- 
        Specific Styles
    ---------------------*/
    .container {
        width: 50%;
    }
    .card-img {
        width: 50%;
        height: 100%;
        border-radius: 1rem 0 0 1rem;
        background: no-repeat center/cover url("images/image-product-desktop.jpg");
    }
}